.title{
    text-transform: initial;
    font-size: 1.5rem;
    padding: 10rem 0 0 0;
    color: #08a05c;
}
.producto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    box-shadow: 1px 10px 10px 2px rgb(0 0 0 / 10%);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}
.img img{
    width: 70%;
    height: 40%;
}