.nav {
    background-color: #898795;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav label {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.nav ul {
    list-style: none;
    margin-right: 70px;
    display: flex;
}

.nav a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.nav a:hover {
    background-color: #898795;
    color: #fe8cb3;
    transition: .4s;
}

.btn-menu {
    margin-right: 30px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    /*display: none;*/
}